body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #4f8a8b;
  margin: 0;
  padding: 0; }
  body * {
    color: #4f8a8b;
    box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 900px;
  padding: 0 1rem;
  margin: 0 auto; }
  .container--sm {
    max-width: 320px; }

a {
  color: #00B7FF; }

h1 {
  font-size: 2rem;
  color: #ea907a; }

h2 {
  font-size: 1.5rem;
  color: #ffcb74; }

#index,
#auth {
  background-color: #2a494a; }
  #index .container,
  #auth .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem; }

form {
  display: block;
  width: 100%; }
  form label {
    color: #f4f6ff;
    display: block;
    margin-bottom: 1rem; }
  form input:not([hidden]):not([type=checkbox]) {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 3px;
    background-color: #4f8a8b;
    color: #f4f6ff; }
    form input:not([hidden]):not([type=checkbox]):focus {
      background-color: #65a7a8;
      outline: none; }
  form button {
    appearance: none;
    background-color: #ea907a;
    color: white;
    font-weight: 600;
    border: none;
    padding: 1rem;
    width: 100%;
    border-radius: 3px; }
  form span.form-error {
    display: block;
    margin-bottom: .5rem;
    color: #ea907a; }

#chat {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f4f6ff; }
  #chat * {
    color: #f4f6ff; }
  #chat .chat-view {
    position: relative;
    background-color: #2a494a;
    height: 100%;
    padding: 2rem 0w;
    flex-grow: 1; }
    #chat .chat-view .chat-container {
      height: 100%;
      display: flex;
      flex-direction: column; }
      #chat .chat-view .chat-container .chat-display {
        position: relative;
        flex-grow: 1;
        padding: 2rem 1rem 0 1rem;
        overflow-y: auto; }
        #chat .chat-view .chat-container .chat-display .chat-item {
          opacity: 1;
          transition: all .3s ease; }
          #chat .chat-view .chat-container .chat-display .chat-item.hidden {
            margin-left: -8rem;
            opacity: 0; }
        #chat .chat-view .chat-container .chat-display .chat-message-row.local {
          text-align: right; }
          #chat .chat-view .chat-container .chat-display .chat-message-row.local .chat-message {
            background-color: #f4f6ff;
            color: #4f8a8b; }
        #chat .chat-view .chat-container .chat-display .chat-message-row.remote {
          text-align: left; }
          #chat .chat-view .chat-container .chat-display .chat-message-row.remote .chat-message {
            background-color: #65a7a8; }
            #chat .chat-view .chat-container .chat-display .chat-message-row.remote .chat-message > * {
              color: #4f8a8b; }
        #chat .chat-view .chat-container .chat-display .chat-message-row .chat-message {
          display: inline-block;
          margin: 0 0 .5rem 0;
          padding: .5rem;
          border-radius: 3px; }
        #chat .chat-view .chat-container .chat-display .users-typing {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 1rem;
          background-color: #ea907a;
          opacity: 0;
          transition: all .3s ease; }
          #chat .chat-view .chat-container .chat-display .users-typing * {
            color: white; }
          #chat .chat-view .chat-container .chat-display .users-typing.active {
            opacity: 1; }
      #chat .chat-view .chat-container .chat-composer {
        width: 100%; }
        #chat .chat-view .chat-container .chat-composer input {
          display: block;
          width: 100%;
          padding: 1rem;
          margin-top: 1rem;
          border: none;
          color: #4f8a8b;
          border-radius: 0;
          background-color: #86b9ba;
          transition: all .3s ease; }
          #chat .chat-view .chat-container .chat-composer input:focus {
            outline: none;
            background-color: #a6cccd; }
    #chat .chat-view .statusbar {
      top: 0;
      width: 100%;
      position: absolute;
      text-align: center;
      padding: .5rem;
      background-color: #ffcb74;
      color: #4f8a8b;
      transition: all .3s ease;
      transition-delay: 1s; }
      #chat .chat-view .statusbar.hidden {
        margin-top: -4rem; }
  #chat .chat-sidebar {
    background-color: #3d6a6a;
    width: 100%;
    max-width: 200px;
    height: 100%;
    transition: all .3s ease;
    padding: .5rem; }
    #chat .chat-sidebar h3 {
      color: #ffcb74; }
    #chat .chat-sidebar [data-name=typing] {
      font-size: .8rem; }
    #chat .chat-sidebar.hidden {
      margin-right: -220px; }

.session-message {
  padding: 1rem;
  text-align: right; }
  .session-message.error {
    color: #ea907a; }

/*# sourceMappingURL=style.css.map */